body {
  background-color: #f2f3f7;
  font-family: "Roboto", sans-serif;
}

.app-logo {
  font-size: 24px;
  background: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

#title {
  padding: 20px 0 20px 0;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px; /* Adjust font size as needed */
}

.action-btn {
  width: 75px;
}

.user-table-align {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow */
  color: #663dff !important;
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens (e.g., tablets and mobile) */
  .user-table-align {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
